<form>
  <h1>Template-driven Form</h1>
  <div class="form-group">
    <label for="first-name">Firstname</label>
    <input type="text" class="form-control" id="first-name" required>
  </div>
  <div class="form-group">
    <label for="last-name">Lastname</label>
    <input type="text" class="form-control" id="last-name" required>
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input type="text" class="form-control" id="age">
  </div>
  <div class="form-group">
    <label for="gender">Gender</label>
    <select class="form-control" id="gender" required>
      <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>