<div [formGroup]="profileForm">
  <h3>Address</h3>
  <div class="form-group">
    <label for="street">Street</label>
    <input type-="text"
           id="street"
           formControlName="street"
           class="form-control">
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input type-="text"
           id="city"
           formControlName="city"
           class="form-control">
  </div>
  <div class="form-group">
    <label for="state">State</label>
    <input type-="text"
           id="state"
           formControlName="state"
           class="form-control">
  </div>
</div>