<form [formGroup]="profileForm"
      (ngSubmit)="onSubmit()">
  <h1>Reactive Form</h1>
  <p>
    Form Status: {{ profileForm.status }}
  </p>
  <div class="form-group">
    <label for="first-name">Firstname</label>
    <input type="text"
           class="form-control"
           id="first-name"
           formControlName="firstName"
           required>
  </div>
  <div class="form-group">
    <label for="last-name">Lastname</label>
    <input type="text"
           class="form-control"
           id="last-name"
           formControlName="lastName"
           required>
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input type="text"
           class="form-control"
           formControlName="age"
           id="age">
  </div>
  <div class="form-group">
    <label for="gender">Gender</label>
    <select class="form-control"
            id="gender"
            formControlName="gender">
      <option *ngFor="let gender of genders"
              [value]="gender">{{gender}}</option>
    </select>
  </div>
  <div formGroupName="address">
    <h3>Address</h3>
    <div class="form-group">
      <label for="street">Street</label>
      <input type="text"
             class="form-control"
             formControlName="street"
             id="street">
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input type="text"
             class="form-control"
             formControlName="city"
             id="city">
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <input type="text"
             class="form-control"
             formControlName="state"
             id="state">
    </div>
    <div class="form-group">
      <label for="zip">Zip Code</label>
      <input type="text"
             class="form-control"
             formControlName="zip"
             id="zip">
    </div>
  </div>
  <button type="submit"
          class="btn btn-success"
          [disabled]="!profileForm.valid">Submit</button>
</form>